                
<article class="grid">
        <div>
          <hgroup>
            <h1>About talk2track</h1>
        <h4>Issue tracking software using natural language</h4>
        <p>Type in new issues in english and automatically create them!
        <br/>
        Query for who is working on what <code>epic</code>, <code>story</code>, <code>task</code>, or <code>bug</code> by just asking questions.</p>
        <p><code><small>Makes a great replacement for 
        <a href="https://www.atlassian.com/software/jira">jira</a></small></code></p>
          </hgroup>
        </div>
        <div></div>
</article>

