<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style1.css">
    <script type='text/javascript' src="/assets/javascript/main.js"></script>
  </head>

  <body>
<div id="wrapper">
  <header role="banner" class="grid-container">

<div class="grid-50">
   <a href="/">{{.SiteName}}</a> |
   <a href="/about/">about</a>
</div>
<div class="grid-50" style="text-align: right;">

        {{ if .User }}
         <form id="logout" method="POST" action="/sessions/">
          <input type="hidden" name="_method" value="DELETE"/>
         </form>
        <a href="/users/{{ .User.Username }}/">{{ .User.Username }}</a> | <a onclick="doLogout(event);" href="#">logout</a>
        {{ else }}
        <a href="/sessions/new/">login</a>
        {{ end }}

</div>

  <div class="grid-100">
    <span id="brand">
          &nbsp;  
    </span>
  </div>
</header>

  <main role="main" class="grid-container">

    {{ .Content }}
  
  </main>
</div>
<footer role="contentinfo">
  <div class="grid-container">
    <div class="grid-25">
            &nbsp;
    </div>
    <div class="grid-50">
        <a href="https://github.com/andrewarrow/feedback">https://github.com/andrewarrow/feedback</a>
    </div>
    <div class="grid-25">
            &nbsp;
    </div>
  </div>
</footer>

  </body>

</html>
