<div class="grid-100">
      {{ $org := index . "org" }}
      <table role="grid">
              <tr>
                <th scope="row">Org:</th>
                <td>&nbsp;</td>
                <td>{{ index $org "name" }}</td>
              </tr>
      </table>
</div>

<div class="grid-100">
        &nbsp;
</div>

<div class="grid-50">
        Projects:
{{ $projects := index . "projects" }}
      <table>
{{range $i, $item := $projects}}
              <tr>
                <td scope="row">{{ add $i 1 }}.</td>
                <td>&nbsp;</td>
                <td>{{ index $item "name" }}</td>
              </tr>
{{end}}
      </table>
</div>
<div class="grid-50">
{{ $project := index . "project" }}
Issues for <strong>{{ index $project "name"}}</strong>:
{{ $issues := index . "issues" }}
      <table>
{{range $i, $item := $issues}}
              <tr>
                <td scope="row">{{ add $i 1 }}.</td>
                <td>&nbsp;</td>
                <td><a href="/issues/{{ index $item "guid" }}/">{{ index $item "title" }}</a></td>
              </tr>
{{end}}
      </table>
</div>
<div class="grid-100">
   <form method="POST">
     <textarea name="q" rows="6" cols="90" style="width: 100%"></textarea>
   </form>
   <p>
    <a class="button-big" href="#">New Issue</a>
   </p>
</div>

<div class="grid-50">
        <strong>Definitions</strong>:
        <p>
        Project: A project is a container for issues, which represents a specific set of work with a defined goal or outcome.
        </p>
        <p>

Epic: An epic is a large body of work that can be broken down into a number of smaller tasks, called stories.
        </p>
        <p>

Story: A story is a user-centric feature that is being developed as part of an Agile project. It's a small, independent piece of work that delivers value to the user.
        </p>
</div>
<div class="grid-50">
        <p>

Task: A task is a unit of work that needs to be completed as part of a larger project or user story.
        </p>
        <p>

Bug: A bug is an error, flaw, or fault in a software application that prevents it from working as intended.
        </p>
        <p>

Parent/Linked Issue: A parent or linked issue is an issue that has a relationship with another issue. A parent issue is a higher-level issue that can have one or more sub-tasks or linked issues, while a linked issue is a separate issue that has a connection with another issue, such as a dependency or a relationship.
        </p>
</div>
