
<div class="grid-100" style="text-align: center;">
            <h1>Login</h1>
          <form action="/sessions/" method="POST">
                  <p>
            <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="username" required>
                  </p>
                  <p>
            <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="password" required>
                  </p>
            <center>
            <button class="button-big" type="submit" class="contrast">Login</button>
            </center>
          </form>
</div>
<div>
        &nbsp;
</div>
<div class="grid-100" style="text-align: center;">
            <h1>Create Account</h1>
          <form action="/users/" method="POST">
                  </p>
            <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="username" required>
                  </p>
                  <p>
            <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="password" required>
                  </p>
            <center>
            <button class="button-big" type="submit" class="contrast">Create Account</button>
            </center>
          </form>
</div>
