<div class="grid-100">
      <table role="grid">
              <tr>
                <th scope="row">Username:</th>
                <td>&nbsp;</td>
                <td>{{ index . "username" }}</td>
              </tr>
              <tr>
                <th scope="row">Created:</th>
                <td>&nbsp;</td>
                <td>{{ index . "created_at" }}</td>
              </tr>
              <tr>
                <th scope="row">Created Ago:</th>
                <td>&nbsp;</td>
                <td>{{ index . "created_at_ago" }}</td>
              </tr>
      </table>
</div>
