<div class="grid-100" style="text-align: center;">
  <p>
        <h1>Issue tracking software using natural language</h1>
  </p>
  <p>
        Type in new issues in english and automatically create them!
  <p>
  </p>
   Query for who is working on what <strong>epic</strong>, <strong>story</strong>, <strong>task</strong>, or <strong>bug</strong> just by asking questions.
  </p>
</div>

<div class="grid-50">
  <p>
    <a class="button-big" href="/sessions/new/">Use Free SaaS Version</a>
  </p>
</div>
<div class="grid-50">
  <p>
    <a class="button-big" href="http://github.com/andrewarrow/talk-to-track">Self Host Open Source</a>
  </p>
</div>

<div class="grid-100" style="text-align: center;">
  <p>Makes a great replacement for 
  <a href="https://www.atlassian.com/software/jira">jira</a>!</p>
</div>
